.Dictionary section {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgb (0, 0, 0.7);
  margin: 30px 0;
}

.Dictionary {
  background-color: #f7f3ff;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .heading-text {
  margin: 10px;
}

.Dictionary em {
  margin-left: 25px;
  color: rgb(100, 96, 96);
}
